/
.CarouselImg0 {
  
  
}

.classTemp0 ion-slides {
  
}
.classTemp0 ion-slides .swiper-slide {
  padding: 0vw 0.5vw;
  margin-top: 6vh;
}

.classTemp0 ion-slides .swiper-slide-active {
  margin-top: 3vh;
  height: 20vh !important;
  width: 30vw !important;
}

.classTemp0 ion-slides .swiper-slide-next {
  height: 20vh !important;
  width: 30vw !important;
  margin-top: 3vh;
}

.classTemp0 ion-slides .swiper-slide-prev {
  margin-left: 15vw;
}


/*
.classTemp0 ion-slides .swiper-zoom-container{

  height: 10vh !important;
  width: 30vw  !important;

}

.classTemp0 ion-slides .swiper-slide-prev {
  height: 20vh !important;
  width: 30vw !important;
  margin-left: 20vw;
}


/*
.classTemp0 ion-slides .swiper-slide-next {
  height: 40vh !important;
  max-height: 130px;
  width: 40vw !important;
  
}
*/