.CarouselImg {
  height: 18vh;
  max-height: 130px;
}

.classTemp ion-slides {
  height: 18vh ;
  max-height: 130px;
}

.classTemp ion-slides .swiper-slide-active {
  height: 18vh;
  max-height: 130px;
  width: 80vw  !important;
  background-color: transparent;
  padding: 0px 10px ;
}

.classTemp ion-slides .swiper-slide-prev {
  height: 18vh;
  max-height: 130px;
  width: 40vw !important;
  margin-left: 12vw;
}

.classTemp ion-slides .swiper-slide-next {
  height: 18vh;
  max-height: 130px;
  width: 40vw !important;
  
}
